.footer{
    padding-top: 70px;
    padding-bottom: 30px;
}
.footer-logo img{
    width: 50%;
    margin-bottom: 1rem;
}
.footer .logo p{
    color: var(--text-color)
}
.social__links span a {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.2rem;
}


.footer__link-title {
    color: var(--heading-color);
    margin-bottom: 1rem;
}
.footer__quick-links li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    transition: color 0.2s ease-in-out;
}
.footer__quick-links li a:hover{
    color: var(--secondary-color);
}
.footer__quick-links h6 span i{
    color: var(--secondary-color);
    font-size: 1.1rem;
}
.copyright{
    color: var(--text-color);
    font-size: 1rem;
}
.social-icons span a:after {
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(17, 25, 40, 0);
    border: 1px solid hsla(0, 0%, 100%, .125);
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.social-icons span:first-child a {
    color: #7cfc00;
}
.social-icons span:nth-child(2) a {
    color: #3b5998;
}
.social-icons span:nth-child(3) a {
    color: #d43089;
}
.social-icons span:nth-child(4) a {
    color: red;
}
.social-icons span a {
    align-items: center;
    border-radius: 50%;
    color: #fff;
    display: flex
;
    font-size: 30px;
    height: 60px;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 30px;
    transition: .5s ease;
    width: 60px;
}
.external__logos img.external-logo-footer {
  height: 35px;
  width: auto;
  transition: transform 0.3s ease;
}

.external__logos img.external-logo-footer:hover {
  transform: scale(1.1);
}
